<div class="container" style='text-align: center;'>

<h1>New Contact</h1>
<div class="form-group" >
<form method="POST" action="/contacts">
<div class='row' style='margin-bottom: 10px;'>
    <label>Name</label>
    <input name="name" type="text" />
    </div>
    <div class='row'style='margin-bottom: 10px;'>

    <label>Message</label>
    <textarea name="inquiry"></textarea>
    </div>
    <div class='row'style='margin-bottom: 10px;'>

    <label>Email</label>
    <input name="email" type="email">
    </div>
    <div class='row'style='margin-bottom: 10px;'>

    <button type="submit" class="btn btn-danger">Submit</button>
    </div>
</form>
</div>
</div>