<h1>New Contact</h1>

<form method="POST" action="/contacts">
Name:<br>
<input name="name" type="text"/>
<br>
Email:<br>
<input name="email" type="text"/>
<br>
<input type="submit" value="Submit"/>

</form>