




<h3> Poke Information</h3>
<ul class="exampleArrayGoesHere">
  {{#each pokemonArr}}
    <li>{{this.pokemonName}}</li>
    <li><img src='{{this.pokemonSprite}}'></img></li>
  {{/each}}
</ul>